<div layout="row" layout-fill ng-cloak>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" role="sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

    <md-toolbar class="md-tall md-hue-2" layout-align="end end">
      <div class="md-toolbar-tools" layout layout-padding>
        <div layout="column" layout-padding>
          <span class="md-body-2">Ed Reyes</span>
          <span class="md-caption">ereyes@cc-ltd.com</span>
        </div>
      </div>
    </md-toolbar>

    <md-content role="navigation">
      <md-list-item ng-click="section.expand = !section.expand">
        <p class="md-subheader md-primary">Orders</p>
      </md-list-item>
      <md-list-item ng-click="section.expand = !section.expand">
        <p class="md-subheader md-primary">Invoices</p>
      </md-list-item>
    </md-content>

  </md-sidenav>

  <section layout="column" role="main" flex>
    <md-toolbar role="toolbar">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
          <md-icon>menu</md-icon>
        </md-button>
        <div>CC WebForm - Management Solution</div>
      </div>
    </md-toolbar>

    <div class="md-whiteframe-3dp">
      <md-button>Edit Document</md-button>
      <md-button>Create Invoice</md-button>
      <md-button>Mark Completed</md-button>
      <md-button>Mark Cancelled</md-button>
      <md-button>Achieved Order</md-button>
      <md-button>Print</md-button>
    </div>

    <md-content layout-padding layout="row" layout-align="center">
    <div flex-gt-md="100" flex-md="100" flex-xs="100">

      <h3>Invoice</h3>

      <md-grid-list
            md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="0px" md-gutter-gt-sm="0px" >

        <md-grid-tile style="blue" class="md-hue-2"
            md-rowspan="2" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
            <div layout="column">
              <div style="height: 24px">Buyer Name</div>
              <div style="height: 24px">Buyer EAN</div>
              <div style="height: 24px">Buyer VAT</div>
              <div style="height: 24px">&nbsp</div>
              <div style="height: 24px">Delivery Loc. Name</div>
              <div style="height: 24px">Delivery Loc. EAN</div>
              <div style="height: 24px">Delivery Loc. Code</div>
              <div style="height: 24px">Supplier's Loc. Code</div>
              <div style="height: 24px">Delivery Address</div>
              <div style="height: 24px">&nbsp</div>
              <div style="height: 24px">&nbsp</div>
              <div style="height: 24px">&nbsp</div>
              <div style="height: 24px">Post Code</div>
          </div>
          <md-grid-tile-footer>
            <h3>#1: (3r x 2c)</h3>
          </md-grid-tile-footer>

        </md-grid-tile>
        <md-grid-tile class="green"
          md-rowspan="2" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
          <div layout="column">
            <label item item-input>
              <input style="width: 220px; height: 20px; border: 1px solid #8AC007" ng-model="buyerName"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="buyerEAN"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="buyerVAT"></input>
            </label>
            <div>&nbsp</div>
            <label item item-input>
              <input style="width: 220px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryLocName"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryLocEAN"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryLocCode"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="supplierLocCode"></input>
            </label>
            <label item item-input>
              <input style="width: 220px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryAddress1"></input>
            </label>
            <label item item-input>
              <input style="width: 220px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryAddress2"></input>
            </label>
            <label item item-input>
              <input style="width: 220px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryAddress3"></input>
            </label>
            <label item item-input>
              <input style="width: 220px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryAddress4"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryPostCode"></input>
            </label>
        </div>
          <md-grid-tile-footer>
            <h3>#2: (2r x 1c)</h3>
          </md-grid-tile-footer>

        </md-grid-tile>
        <md-grid-tile class="yellow"
        md-rowspan="2" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
        <div layout="column">
          <div style="height: 24px">Supplier Name</div>
          <div style="height: 24px">&nbsp</div>
          <div style="height: 24px">Supplier EAN</div>
          <div style="height: 24px">Supplier Code</div>
          <div style="height: 24px">Supplier VAT</div>
          <div style="height: 24px">&nbsp</div>
          <div style="height: 24px">Order Number</div>
          <div style="height: 24px">Order Date</div>
          <div style="height: 24px">Delivery Note Number</div>
          <div style="height: 24px">Delivery Note Date</div>
          <div style="height: 24px">Goods Receipt Number</div>
          <div style="height: 24px">Goods Receipt Date</div>
          <div style="height: 24px">&nbsp</div>
        </div>
          <md-grid-tile-footer>
            <h3>#3: (2r x 1c)</h3>
          </md-grid-tile-footer>

        </md-grid-tile>
        <md-grid-tile class="blue"
            md-rowspan="2" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
            <div layout="column">
              <label item item-input>
                <input style="width: 220px; height: 20px; border: 1px solid #8AC007" ng-model="supplierName"></input>
              </label>
              <div>&nbsp</div>
              <label item item-input>
                <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="supplierEAN"></input>
              </label>
              <label item item-input>
                <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="supplierCode"></input>
              </label>
              <label item item-input>
                <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="supplierVAT"></input>
              </label>
              <div>&nbsp</div>
              <label item item-input>
                <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="orderNumber"></input>
              </label>
              <label item item-input>
                <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="orderDate"></input>
              </label>
              <label item item-input>
                <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryNoteNumber"></input>
              </label>
              <label item item-input>
                <input style="width: 145px; height: 20px; border: 1px solid #8AC007" type="date" ng-model="deliveryNoteDate"></input>
              </label>
              <label item item-input>
                <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="goodsReceiptNumber"></input>
              </label>
              <label item item-input>
                <input style="width: 145px; height: 20px; border: 1px solid #8AC007" type="date" ng-model="goodsReceiptDate"></input>
              </label>
              <div>&nbsp</div>
            </div>
          <md-grid-tile-footer>
            <h3>#4: (2r x 1c)</h3>
          </md-grid-tile-footer>

        </md-grid-tile>
        <md-grid-tile class="red"
            md-rowspan="2" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
            <div layout="column">
              <div style="height: 24px">Invoice Number</div>
              <div style="height: 24px">Invoice Date</div>
              <div style="height: 24px">&nbsp</div>
              <div style="height: 24px">Tax Date</div>
              <div style="height: 24px">&nbsp</div>
              <div style="height: 24px">Payment Terms</div>
              <div style="height: 24px">Payment Date</div>
              <div style="height: 24px">Days To Payment</div>
              <div style="height: 24px">&nbsp</div>
              <div style="height: 24px">Settlement Disc. %</div>
              <div style="height: 24px">Surcharges ex VAT</div>
              <div style="height: 24px">Currency</div>
              <div style="height: 24px">&nbsp</div>
            </div>
          <md-grid-tile-footer>
            <h3>#5: (2r x 1c)</h3>
          </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="green"
            md-rowspan="2" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
            <div layout="column">
              <label item item-input>
                <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="invoiceNumber"></input>
              </label>
              <label item item-input>
                <input style="width: 145px; height: 20px; border: 1px solid #8AC007" type="date" ng-model="invoiceDate"></input>
              </label>
              <div>&nbsp</div>
              <label item item-input>
                <input style="width: 145px; height: 20px; border: 1px solid #8AC007" type="date" ng-model="taxDate"</input>
              </label>
              <div>&nbsp</div>
              <label item item-input>
                <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="paymentTerms"></input>
              </label>
              <label item item-input>
                <input style="width: 145px; height: 20px; border: 1px solid #8AC007" type="date" ng-model="paymentDate"></input>
              </label>
              <label item item-input>
                <input style="width: 30px; height: 20px; border: 1px solid #8AC007" ng-model="daysToPayment"></input>
              </label>
              <div>&nbsp</div>
              <label item item-input>
                <input style="width: 55px; height: 20px; border: 1px solid #8AC007" ng-model="settlementPercent"></input>
              </label>
              <label item item-input>
                <input style="width: 55px; height: 20px; border: 1px solid #8AC007" ng-model="surchargesExVATa"></input>
                <select style="width: 80px; height: 20px; border: 1px solid #8AC007" ng-model="surchargesExVATb">
                  <option "GBP">Carriage</option>
                  <option "EUR">Misc</option>
                </select>
                <select style="width: 75px; height: 20px; border: 1px solid #8AC007" ng-model="surchargesExVATc">
                  <option "Z-0%">Z-0%</option>
                  <option "L-5%">L-5%</option>
                  <option "L-13.1%">L-13.1%</option>
                  <option "S-19%">S-19%</option>
                  <option "S-19%">S-20%</option>
                  <option "S-19%">S-21%</option>
                  <option "S-19%">S-23%</option>
                </select>
              </label>
              <label item item-input">
              <select style="width: 55px; height: 20px; border: 1px solid #8AC007" ng-model="currency">
                <option "GBP">GBP</option>
                <option "EUR">EUR</option>
                <option "USD">USD</option>
                <option "DKK">DKK</option>
              </select>
              </label>
              <div>&nbsp</div>
            </div>
          <md-grid-tile-footer>
            <h3>#6: (2r x 1c)</h3>
          </md-grid-tile-footer>

        </md-grid-tile>
      </md-grid-list>
  </<md-content>




	<section id="content" role="content" layout-padding md-scroll-y>

	    <h3>Invoice</h3>

        <div layout="row">

          <div layout="column" flex="10"> <!-- Column 1 -->
            <div>Buyer Name</div>
            <div>Buyer EAN</div>
            <div>Buyer VAT</div>
            <div>&nbsp</div>
            <div>Delivery Loc. Name</div>
            <div>Delivery Loc. EAN</div>
            <div>Delivery Loc. Code</div>
            <div>Supplier's Loc. Code</div>
            <div>Delivery Address</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>Post Code</div>
          </div>

          <div layout="column" flex="20"> <!-- Column 2 -->
            <label item item-input>
              <input style="width: 220px; height: 20px; border: 1px solid #8AC007" ng-model="buyerName"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="buyerEAN"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="buyerVAT"></input>
            </label>
            <div>&nbsp</div>
            <label item item-input>
              <input style="width: 220px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryLocName"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryLocEAN"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryLocCode"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="supplierLocCode"></input>
            </label>
            <label item item-input>
              <input style="width: 220px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryAddress1"></input>
            </label>
            <label item item-input>
              <input style="width: 220px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryAddress2"></input>
            </label>
            <label item item-input>
              <input style="width: 220px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryAddress3"></input>
            </label>
            <label item item-input>
              <input style="width: 220px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryAddress4"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryPostCode"></input>
            </label>
          </div>

          <div layout="column" flex="10"> <!-- Coloumn 3 -->
            <div>Supplier Name</div>
            <div>&nbsp</div>
            <div>Supplier EAN</div>
            <div>Supplier Code</div>
            <div>Supplier VAT</div>
            <div>&nbsp</div>
            <div>Order Number</div>
            <div>Order Date</div>
            <div>Delivery Note Number</div>
            <div>Delivery Note Date</div>
            <div>Goods Receipt Number</div>
            <div>Goods Receipt Date</div>
            <div>&nbsp</div>
          </div>

          <div layout="column" flex="20"> <!-- Column 4 -->
            <label item item-input>
              <input style="width: 220px; height: 20px; border: 1px solid #8AC007" ng-model="supplierName"></input>
            </label>
            <div>&nbsp</div>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="supplierEAN"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="supplierCode"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="supplierVAT"></input>
            </label>
            <div>&nbsp</div>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="orderNumber"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="orderDate"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="deliveryNoteNumber"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" type="date" ng-model="deliveryNoteDate"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="goodsReceiptNumber"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" type="date" ng-model="goodsReceiptDate"></input>
            </label>
            <div>&nbsp</div>
          </div>

          <div layout="column" flex="10"> <!-- Column 5 -->
            <div>Invoice Number</div>
            <div>Invoice Date</div>
            <div>&nbsp</div>
            <div>Tax Date</div>
            <div>&nbsp</div>
            <div>Payment Terms</div>
            <div>Payment Date</div>
            <div>Days To Payment</div>
            <div>&nbsp</div>
            <div>Settlement Disc. %</div>
            <div>Surcharges ex VAT</div>
            <div>Currency</div>
            <div>&nbsp</div>
          </div>

          <div layout="column" flex="20"> <!-- Column 6 -->
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="invoiceNumber"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" type="date" ng-model="invoiceDate"></input>
            </label>
            <div>&nbsp</div>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" type="date" ng-model="taxDate"</input>
            </label>
            <div>&nbsp</div>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" ng-model="paymentTerms"></input>
            </label>
            <label item item-input>
              <input style="width: 145px; height: 20px; border: 1px solid #8AC007" type="date" ng-model="paymentDate"></input>
            </label>
            <label item item-input>
              <input style="width: 30px; height: 20px; border: 1px solid #8AC007" ng-model="daysToPayment"></input>
            </label>
            <div>&nbsp</div>
            <label item item-input>
              <input style="width: 55px; height: 20px; border: 1px solid #8AC007" ng-model="settlementPercent"></input>
            </label>
            <label item item-input>
              <input style="width: 55px; height: 20px; border: 1px solid #8AC007" ng-model="surchargesExVATa"></input>
              <select style="width: 80px; height: 20px; border: 1px solid #8AC007" ng-model="surchargesExVATb">
                <option "GBP">Carriage</option>
                <option "EUR">Misc</option>
              </select>
              <select style="width: 75px; height: 20px; border: 1px solid #8AC007" ng-model="surchargesExVATc">
                <option "Z-0%">Z-0%</option>
                <option "L-5%">L-5%</option>
                <option "L-13.1%">L-13.1%</option>
                <option "S-19%">S-19%</option>
                <option "S-19%">S-20%</option>
                <option "S-19%">S-21%</option>
                <option "S-19%">S-23%</option>
              </select>
            </label>
            <label item item-input">
            <select style="width: 55px; height: 20px; border: 1px solid #8AC007" ng-model="currency">
              <option "GBP">GBP</option>
              <option "EUR">EUR</option>
              <option "USD">USD</option>
              <option "DKK">DKK</option>
            </select>
            </label>
            <div>&nbsp</div>
          </div>
        </div>

    </section>

  </section>
  <div ng-init="load()"></div>
</div>
