<ion-view>

    <md-toolbar class="md-table-toolbar" ng-hide="options.rowSelection && selected.length" ng-show="!showSearch">
      <div class="md-toolbar-tools">
        <span>Orders</span>
        <div flex></div>
        <!-- <md-button class="md-icon-button" ng-click="showSearch = !showSearch"> -->
        <!--   <md-icon>search</md-icon> -->
        <!-- </md-button> -->
        			
        <md-button class="md-icon-button" ng-click="loadStuff()">
          <md-icon>refresh</md-icon>
        </md-button>
      </div>        
    </md-toolbar>
    
    <md-toolbar class="md-hue-1" ng-show="showSearch">
      <div class="md-toolbar-tools">
      <!-- <md-button ng-click="showSearch = !showSearch" aria-label="Back"> -->
      <!--   <ng-md-icon icon="arrow_back"></ng-md-icon> -->
      <!-- </md-button> -->
      <!-- <h3 flex="10">Back</h3> -->
           
      <!-- <md-input-container flex> -->
      <!--   <label>&nbsp;</label> -->
      <!--   <input ng-model="search.docNumber" placeholder="enter document number"> -->
      <!-- </md-input-container> -->
      </div>

    </md-toolbar>
    	
    <md-toolbar class="md-table-toolbar" ng-show="options.rowSelection && selected.length">
      <div class="md-toolbar-tools" ng-show="selected.length > 1">
        <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected
        <md-button>Action-Btn_2.1</md-button>
        <md-button>Action-Btn_2.2</md-button>
        <md-button>Action-Btn_2.3</md-button>
      </span>
      </div>
      <div class="md-toolbar-tools" ng-show="selected.length == 1">
        <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected
        <md-button ng-click="viewDetails(selected)">View</md-button>
        <md-button>Action-Btn_1.2</md-button>
        <md-button>Action-Btn_1.3</md-button>
      </span>
      </div>		  
    </md-toolbar>



    <md-content flex md-scroll-y>
      <md-card>
        <md-table-container>
      	  <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
      	    <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
              <tr md-row>
                <th md-column md-order-by="name"><span>Trading Partners</span></th>
                <th md-column md-order-by="type"><span>Type</span></th>
                <th md-column md-numeric md-order-by="docNumber.value" md-desc><span>Document Number</span></th>
                <th md-column md-numeric md-order-by="docStatus.value"><span>Status</span></th>
                <th md-column md-numeric md-order-by="docDate.value"><span>Date</span></th>
                <th md-column md-numeric md-order-by="docAction.value"><span>Actions</span></th>
                <th md-column md-numeric md-order-by="dateCreated.value"><span>Created</span></th>
                <th md-column md-numeric md-order-by="dateModify.value"><span>Modified</span></th>
                <th md-column md-numeric md-order-by="fileGenNum.value"><span>File Generation Number</span></th>
                <!-- <th md-column md-numeric md-order-by="dateCreated.value" hide-gt-xs show-gt-md><span>Created</span></th> -->
                <!-- <th md-column md-numeric md-order-by="dateModify.value" hide-gt-xs show-gt-md><span>Modified</span></th> -->
                <!-- <th md-column md-numeric md-order-by="fileGenNum.value" hide-gt-xs show-gt-lg><span>File Generation Number</span></th> -->
              </tr>
      		</thead>
      		
            <tbody md-body>
              <tr md-row md-select="webFormMsg" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="webFormMsg.type == ''" ng-repeat="webFormMsg in webFormMsg.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                <td md-cell>{{webFormMsg.name}}</td>
                <td md-cell>{{webFormMsg.type}}</td>
                <!-- <td md-cell> -->
                <!--   <md-select ng-model="webFormMsg.type" placeholder="Other"> -->
                <!--     <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option> -->
                <!--   </md-select> -->
                <!-- </td> -->
                <td md-cell>{{webFormMsg.docNumber.value}}</td>
                <td md-cell>{{webFormMsg.docStatus.value}}</td>
                <td md-cell>{{webFormMsg.docDate.value}}</td>
                <td md-cell>{{webFormMsg.docAction.value | date:'dd MMMM yyyy'}}</td>
                <td md-cell>{{webFormMsg.dateCreated.value}}</td>
                <td md-cell>{{webFormMsg.dateModify.value}}</td>
                <td md-cell>{{webFormMsg.fileGenNum.value}}</td>
                <!-- <td md-cell hide-gt-xs show-gt-md>{{webFormMsg.dateCreated.value}}</td> -->
                <!-- <td md-cell hide-gt-xs show-gt-md>{{webFormMsg.dateModify.value}}</td> -->
                <!-- <td md-cell hide-gt-xs show-gt-lg>{{webFormMsg.fileGenNum.value}}</td> -->
              </tr>
            </tbody>
      		
      	  </table>
      	</md-table-container>
      	
        <md-table-pagination 
          md-limit="query.limit" 
          md-limit-options="limitOptions" 
          md-page="query.page" 
          md-total="{{webFormMsg.count}}" 
          md-page-select="options.pageSelect" 
          md-boundary-links="options.boundaryLinks" 
          md-on-paginate="logPagination">
        </md-table-pagination>  		
        		
      </md-card>
    </md-content>
    
      <div layout="column" flex>
        <md-content flex>
          <ion-nav-view name="content"></ion-nav-view>
        </md-content>
      </div>
	
<div ng-init="load()"></div>
</ion-nav-view>