<ion-view> 

<div layout="row" layout-fill ng-cloak>

  <md-sidenav class="md-sidenav-left md-whiteframe-z2" role="sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

    <md-toolbar class="md-tall md-hue-2" layout-align="end end">
      <div class="md-toolbar-tools" layout layout-padding>
      <md-icon>{{wFormMenuData.user.icon}}</md-icon>
        <div layout="column" layout-padding>
          <span class="md-body-2">{{wFormMenuData.user.name}}</span>
          <span class="md-caption">{{wFormMenuData.user.email}}</span>
        </div>
        <span flex></span>
        
        <md-menu md-position-mode="target-right target" ng-repeat="menu in wFormMenuData.sidenav.menus">
          <md-button class="md-icon-button" aria-label="{{menu.name}}" ng-click="$mdOpenMenu($event)">
            <md-icon>more_vert</md-icon>
          </md-button>
          <md-menu-content width={{menu.width}}>
            <md-subheader>{{menu.name}}</md-subheader>
            <md-menu-item ng-repeat="action in menu.actions">
              <md-button layout-fill md-ink-ripple ng-click="toast(action.message)">
                <md-icon md-class="{{action.error ? 'md-warn' : 'md-primary'}}" md-menu-align-target>
                  {{action.completed ? 'done' : 'hourglass_empty'}}
                </md-icon>
                  {{action.name}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        
      </div>
    </md-toolbar>
 
    <md-content role="navigation">
      <md-list ng-repeat="section in wFormMenuData.sidenav.sections">
        <md-list-item ng-click="section.expand = !section.expand">
          <p class="md-subheader md-primary">{{section.name}}</p>
          <span flex></span>
          <md-icon class="md-primary md-icon-button">{{section.expand ? 'arrow_drop_up' : 'arrow_drop_down'}}</md-icon>
        </md-list-item>
        <md-list-item ng-show="section.expand" ng-repeat="action in section.actions" ng-click="toast(action.link)">
          <md-icon>{{action.icon}}</md-icon>
            <p class="md-body-2">{{action.name}}</p>
            <span flex></span>
          <md-icon>chevron_right</md-icon>
        </md-list-item>
      </md-list>
    </md-content>
    
  </md-sidenav>
  
  
  <div layout="row" flex>
    <div layout="column" flex>
   
      <md-toolbar role="toolbar" class="md-table-toolbar md-hue-2">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <md-icon>menu</md-icon>
          </md-button>
          <h4 class="md-title">{{wFormMenuData.title}}</h4>
          <!--  <span flex></span> -->
          <!--  <md-button class="md-icon-button" ng-repeat="button in wFormMenuData.toolbar.buttons" aria-label={{button.name}} ng-click="toast(button.link)"> -->
          <!--    <md-icon>{{button.icon}}</md-icon> -->
          <!--  </md-button> -->
          <!--  <md-menu md-position-mode="target-right target" ng-repeat="menu in wFormMenuData.toolbar.menus"> -->
          <!--    <md-button class="md-icon-button" aria-label="{{menu.name}}" ng-click="$mdOpenMenu($event)"> -->
          <!--      <md-icon>{{menu.icon}}</md-icon> -->
          <!--    </md-button> -->
          <!--    <md-menu-content width={{menu.width}}> -->
          <!--      <md-subheader>{{menu.name}}</md-subheader> -->
          <!--      <md-menu-item ng-repeat="action in menu.actions"> -->
          <!--        <md-button layout-fill md-ink-ripple ng-click="toast(action.message)"> -->
          <!--          <md-icon md-class="{{action.error ? 'md-warn' : 'md-primary'}}" md-menu-align-target>{{action.completed ? 'done' : 'hourglass_empty'}}</md-icon> -->
          <!--          {{action.name}} -->
          <!--        </md-button> -->
          <!--      </md-menu-item> -->
          <!--    </md-menu-content> -->
          <!--  </md-menu> -->
        </div>
      </md-toolbar>
      
      <div layout="column" flex>
        <md-content flex>
          <ion-nav-view name="content"></ion-nav-view>
        </md-content>
      </div>  
              
   </div>
  </div>   

  <div ng-init="load()"></div>
  
</div>

</ion-view>

