<ion-view>



<div layout="column" class="relative" layout-fill role="main">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-title">Purchase Order Details</h2>
      <span flex></span>
      <md-button ng-click="createPO()" class="md-primary">Create New</md-button>
      <md-button ng-click="editPO()" class="md-primary">Edit</md-button>
      <md-button ng-click="savePO(pOrderData)" class="md-primary">Save</md-button>		
    </div>
  </md-toolbar>

  <md-content flex md-scroll-y>
  
    <md-tabs layout-fill
             md-stretch-tabs 
             md-selected="selectedIndex">
       
       <md-tab label="Basic Information">
         <md-content flex md-scroll-y>
         <ui-view layout="column" layout-fill layout-padding>
           <md-card layout-fill layout-padding>
             <form name="purchaseOrderInfo">
               <h6>Customer</h6>
               <div layout-gt-xs="row"> 
                 <md-input-container class="md-block" flex-gt-xs="">
                   <label>Order Number</label>
                   <input ng-model="pOrderData.orderNumber">
                 </md-input-container>
    
                 <!-- <md-datepicker ng-model="pOrderData.orderDate" md-placeholder="Order Date"></md-datepicker> -->
                   
                 <md-datepicker ng-model="dt" md-placeholder="Enter date" ng-change="pOrderData.orderDate = dt.toISOString()">
                 </md-datepicker>
                 
    
                 <md-input-container class="md-block" flex-gt-xs="">
                   <label>Customer Name</label>
                   <input ng-model="pOrderData.customerName">
                 </md-input-container>
               </div>
    		 
               <!-- <md-input-container> -->
               <!--    <label>Customer EAN</label> -->
               <!--    <input ng-model="pOrderData.customerEAN"> -->
               <!--  </md-input-container> -->
               <!-- <md-input-container> -->
               <!--    <label>Delivery Location</label> -->
               <!--    <input ng-model="pOrderData.dvryLocation"> -->
               <!--  </md-input-container> -->
               <!--  <md-input-container> -->
               <!--    <label>Delivery EAN</label> -->
               <!--    <input ng-model="pOrderData.dvryEAN"> -->
               <!--  </md-input-container> -->
               <!--  <md-input-container> -->
               <!--    <label>Delivery Code</label> -->
               <!--    <input ng-model="pOrderData.dvryCode"> -->
               <!--  </md-input-container> -->
               <!--  <md-input-container> -->
               <!--    <label>Delivery Address</label> -->
               <!--    <input ng-model="pOrderData.dvryAddress"> -->
               <!--  </md-input-container> -->
               <!--  <md-input-container> -->
               <!--    <label>Post Code</label> -->
               <!--    <input ng-model="pOrderData.postCode"> -->
               <!--  </md-input-container>                -->
    
    		
    		 <md-divider></md-divider>
        	     
    		 <h6>Supplier</h6>
               <div layout-gt-xs="row"> 
                 <md-input-container>
                   <label>Supplier Name</label>
                   <input ng-model="pOrderData.supplierName">
                 </md-input-container>
    		   <md-input-container>
                   <label>Supplier EAN</label>
                   <input ng-model="pOrderData.supplierEAN">
                 </md-input-container>
    		   <md-input-container>
                   <label>Supplier Code</label>
                   <input ng-model="pOrderData.supplierCode">
                 </md-input-container>
               </div>            
                 
               <!-- <md-input-container> -->
               <!--    <label>Earliest Delivery Date</label> -->
               <!--    <input ng-model="pOrderData.dvryDate"> -->
               <!--  </md-input-container>                -->
               <!-- <md-input-container> -->
               <!--    <label>Instruction Number</label> -->
               <!--    <input ng-model="pOrderData.intrnNumber"> -->
               <!--  </md-input-container> -->
               <!--  <md-input-container> -->
               <!--    <label>Order Type</label> -->
               <!--    <input ng-model="pOrderData.orderType"> -->
               <!--  </md-input-container> -->
               <!--  <md-input-container> -->
               <!--    <label>Currency</label> -->
               <!--    <input ng-model="pOrderData.currency"> -->
               <!--  </md-input-container> -->
               <!--  <md-input-container> -->
               <!--    <label>Order Classification</label> -->
               <!--    <input ng-model="pOrderData.orderClassification"> -->
               <!--  </md-input-container> -->
               <!--  <md-input-container> -->
               <!--    <label>Order Code</label> -->
               <!--    <input ng-model="pOrderData.orderCode"> -->
               <!--  </md-input-container> -->
    		 
    		 
    		   <md-divider></md-divider>
               <h6>Additional Remarks</h6>
               <md-input-container class="md-block" layout-gt-xs="">
                 <label>Message</label>
                 <input ng-model="pOrderData.addRemarks">
               </md-input-container>
    
             </form>
        	   
           </md-card>
           </ui-view>
         </md-content>
       </md-tab>
       
        
       <md-tab label="Line Items">
         <md-content flex md-scroll-y>
         <ui-view layout="column" layout-fill layout-padding>
           <md-card layout-fill layout-padding>
             <form name="purchaseOrderItems">
               <h6>Line Items</h6>
               <md-list layout-gt-xs="column">
                 <md-item ng-repeat="item in pOrderData.lineItems">
    		   
                   <md-item-content class="md-tile-content">
                    <md-input-container>
                      <label>Line</label>
                      <input ng-model="item.line">
                    </md-input-container>
                    <md-input-container>
                      <label>Supplier TU EAN</label>
                      <input ng-model="item.supplierTUEAN">
                    </md-input-container>
                    <md-input-container>
                      <label>Supplier Item Code</label>
                      <input ng-model="item.supplierItemCode">
                    </md-input-container>				  
                    <md-input-container>
                      <label>Buyer Item Code</label>
                      <input ng-model="item.buyerItemCode">
                    </md-input-container>
                    <md-input-container>
                      <label>CU in TU</label>
                      <input ng-model="item.CUinTU">
                    </md-input-container>				  
                    <md-input-container>
                      <label>Quantity</label>
                      <input ng-model="item.quantity">
                    </md-input-container>				  
                    <md-input-container>
                      <label>Item Price</label>
                      <input ng-model="item.itemPrice">
                    </md-input-container>				  
                    <md-input-container>
                      <label>Description</label>
                      <input ng-model="item.description">
                    </md-input-container>				  
    			  
                   </md-item-content>
    			 
                   <!-- <md-divider md-inset hide-sm ng-if="!$last"></md-divider> -->
                   <!-- <md-divider hide-gt-sm ng-if="!$last"></md-divider> -->
                 </md-item>
    		   
                 <div layout="row" layout-align="end" flex>
    		     <md-button ng-click="add()" class="md-primary">Add</md-button>
    			 <md-button ng-click="save()" class="md-primary">Save</md-button>
    		   </div>
    
               </md-list>
             </form>
             
           </md-card>
         </ui-view>
         </md-content>
       </md-tab>
       
       <md-tab label="Document Summary">
         <md-content flex md-scroll-y>
         <ui-view layout="column" layout-fill layout-padding>
           <md-card layout-fill layout-padding>
             <form name="purchaseOrderDocSummary">
               <h6>Document Summary</h6>
               <div layout-gt-xs="row">
                 <md-input-container>
                   <label>Order Status</label>
                   <input ng-model="pOrderData.orderStatus">
                 </md-input-container>
                 <md-input-container>
                   <label>Form Status</label>
                   <input ng-model="pOrderData.formStatus">
                 </md-input-container>
                 <md-input-container>
                   <label>EDI Reference</label>
                   <input ng-model="pOrderData.ediReference">
                 </md-input-container>
                 <md-input-container>
                   <label>Transaction Reference</label>
                   <input ng-model="pOrderData.txnReference">
                 </md-input-container>               
                 <md-input-container>
                   <label>File Generation Number</label>
                   <input ng-model="pOrderData.fileGenNumber">
                 </md-input-container>                                             
               </div>
             </form>
           </md-card>
         </ui-view>
         </md-content>
       </md-tab>
         
    </md-tabs>
  
  </md-content>

</div>

<div ng-init="load()"></div>



</ion-view>



